* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-gradient-blue: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    --color-blue-no-gradient: #312D64;
    --color-pink: #B52184;
    --color-white: #F9F4FB;

    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}

body {
    background: var(--color-white);
    color: var(--color-blue-no-gradient);
    font-size: 1.6rem;
}

main .card-wrapper,
footer {
    background: var(--bg-gradient-blue);
}

h1,
h4 {
    color: var(--color-pink);
}

h4 {
    font-size: 3rem;
    font-weight: 900;
}

header {
    padding: 0 3.3rem 9.3rem;
    text-align: center;
}

header img {
    margin-bottom: 1.7rem;
    max-width: 36.4rem;
}

header h1 {
    font-size: 3.2rem;
    font-weight: 900;
}

header p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

header #downArrow {
    width: 5.9rem;
}

main .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5.5rem 3.9rem;
}

.card-wrapper .card {
    background: var(--color-white);
    border: none;
    border-radius: 2rem;
    padding: 2.6rem 6rem 2.6rem 2.6rem;
}

.card img {
    height: 8rem;
    margin-bottom: 3.3rem;
    width: 8rem;
}

.card h4 {
    margin-bottom: 2rem;
}

.card p {
    font-size: 1.6rem;
    font-weight: 600;
}

main .contact {
    padding: 7.8rem 4rem 6.5rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 35rem;
}

.contact h4 {
    margin-bottom: 4.3rem;
}

.contact img {
    display: none;
}

.input-wrapper input,
textarea {
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-no-gradient);
    border-radius: 1.6rem;
    color: var(--color-blue-no-gradient);
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 12px 16px 12px 14px;
    width: 100%;
}

.input-wrapper input {
    position: relative;
    padding-left: 5rem;
}

.input-wrapper .name {
    background: url('assets/person.svg') no-repeat scroll 15px 10px;
}

.input-wrapper .email {
    background: url('assets/email.svg') no-repeat scroll 15px 13px;
}

.input-wrapper input::placeholder,
textarea::placeholder {
    color: var(--color-blue-no-gradient);
}

form button {
    background: var(--bg-gradient-blue);
    border: none;
    border-radius: 1.6rem;
    color: var(--color-white);
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1.5rem;
    text-transform: capitalize;
    max-width: 15rem;
}

footer {
    color: var(--color-white);
    font-size: 2rem;
    padding: 3.2rem 1.6rem;
    text-align: center;
}

@media (min-width: 1440px) {
    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 3rem 10rem 11rem;
        text-align: unset;
    }

    .text-wrapper {
        padding-top: 31rem;
    }

    .text-wrapper h1 {
        font-size: 5.8rem;
    }

    .text-wrapper p {
        font-size: 3.2rem;
        margin-bottom: 18rem;
    }

    header .astronaut {
        min-width: 72rem;
    }

    main .card-wrapper {
        flex-direction: row;
        gap: 6rem;
        padding: 6.4rem 11rem;
    }

    .card-wrapper .card {
        border-radius: 2.4rem;
        padding: 3.2rem 3.2rem 5rem;
    }

    .card img {
        height: 10rem;
        margin-bottom: 4rem;
        width: 10rem;
    }

    .card h4 {
        margin-bottom: 2.4rem;
    }

    .card p {
        font-size: 1.9rem;
    }

    main .contact {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .contact .contact-wrapper {
        flex: 1;
        padding: 9.5rem 9rem 9.5rem 11rem;
    }

    .contact-wrapper h4 {
        font-size: 4.2rem;
    }

    form {
        min-width: 56rem;
    }

    .contact img {
        display: block;
        border: none;
    }
}
